.headerStyle {
  padding-top: 20px;
}

.headerText {
  font-weight: 600;
  font-size: 40px;
}

.contentPadding {
  padding-left: 30px;
  padding-right: 30px;
}

.appContainer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.table-responsive {
  white-space: nowrap;
}
